<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns:content-api="http://libero.pub/schema/content-api-bundle"
    xmlns:framework="http://symfony.com/schema/dic/symfony"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://symfony.com/schema/dic/services"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <framework:config>
        <framework:workflow name="libero.content_api.put" type="workflow">
            <framework:marking-store type="single_state">
                <framework:argument>state</framework:argument>
            </framework:marking-store>
            <framework:support>Libero\ContentApiBundle\Model\PutTask</framework:support>
            <framework:place>start</framework:place>
            <framework:place>needs_validation</framework:place>
            <framework:place>validated</framework:place>
            <framework:place>end</framework:place>
            <framework:transition name="start">
                <framework:from>start</framework:from>
                <framework:to>needs_validation</framework:to>
            </framework:transition>
            <framework:transition name="validate">
                <framework:from>needs_validation</framework:from>
                <framework:to>validated</framework:to>
            </framework:transition>
            <framework:transition name="end">
                <framework:from>validated</framework:from>
                <framework:to>end</framework:to>
            </framework:transition>
        </framework:workflow>
    </framework:config>

    <content-api:content-api>
        <content-api:service prefix="service-one" include-prefix="false" items="Libero\ContentApiBundle\Adapter\InMemoryItems"
            put-workflow="libero.content_api.put"/>
    </content-api:content-api>

</container>
